body {
    background-color: rgb(0, 0, 0);
    color: blanchedalmond;
    padding-left: 25%;
    padding-right: 25%;
  }
  
  .input[style="checkbox"]{
    
    background-color: greenyellow;
  }

  .input[style="checkbox"]:checked{
    background-color: #33f321;
  }
  
  div{
    background-color: rgb(32, 32, 32);
    padding-top: 2px;
    padding-left: 20px;
    padding-bottom: 2px;
    text-align: left;
  }

  h1{
    position: relative;
    text-align: center;
    
  }

  checkbox{
    background-color:#33f321;
  }

  iframe{
    
  }